<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Opina sobre las personas</h1>
      </div>
    </div>

	<div class="container">
		<form action="/submit" id="textform" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Mi Usuario</label>
					<input type="text" name="user" class="form-control" id="exampleFormControlInput1" placeholder="Calificador">
				</div>
				<div class="form-group col-md-6">
					<label>A quien califico</label>
					<input type="text" name="person" class="form-control" id="exampleFormControlInput1" placeholder="Calificado">
				</div>
				<div class="form-group col-md-12">
					<label for="exampleFormControlTextarea1">Comentario</label>
					<textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="140 caracteres"></textarea>
				</div>
				<div class="form-group col-md-6">
					<label>Calificación</label>
					<select name="grade" id="inputState" class="form-control">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option selected>5</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label>Firma digital</label>
					<input type="text" name="signature" class="form-control" id="exampleFormControlInput3" placeholder="Firma">
				</div>
			</div>
			<input type="submit" class="btn btn-primary"  value="Post">
		</form>
	</div>

	<main role="main" class="container">
		<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded shadow-sm">
		  <div class="lh-100">
			<h6 class="mb-0 text-white lh-100">Civility</h6>
			<small>Un vistazo a las personas</small>
		  </div>
		</div>
	  
		<div class="my-3 p-3 bg-white rounded shadow-sm">
		  <h6 class="border-bottom border-gray pb-2 mb-0">Calificaciónes recientes</h6>
		  {% for post in posts %}
		  <div class="media text-muted pt-3">
			<div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.user[0]}}</div>
			<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			  <strong class="d-block text-gray-dark">@{{post.person}}: {{post.average_grade}}</strong>
			  	{{post.last_grade}} Último comentario: {{post.last_comment}}
			</p>
		  </div>
		  {% endfor %}


		</div>

	</main>

	<style>
		.post_box {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
		    border-top: 1px solid #f0f0f0;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 16px;
		    margin-bottom: 8px;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
		.form-signin {
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: auto;
		}
		.form-signin .checkbox {
			font-weight: 400;
		}
		.form-signin .form-control {
			position: relative;
			box-sizing: border-box;
			height: auto;
			padding: 10px;
			font-size: 16px;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	</style>
    </div>
{% endblock %}
