<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<br>

	<center>
	<form action="/submit" id="textform" method="post">
	    <br>
	    <br>
	    <input type="text" name="user" placeholder="Usuario actual">
	    <br>
	    <input type="text" name="person" placeholder="Persona por la que se va a votar">
	    <br>
	    <input type="text" name="grade" placeholder="Calificación">
	    <br>
	    <input type="text" name="comment" placeholder="Comentario">
	    <br>
	    <input type="text" name="signature" placeholder="Firma digital	">
	    <br>
	    <input type="submit" value="Post">
	</form>
	</center>

	<br>

	<a href="{{node_address}}/mine" target="_blank"><button>Request to mine</button></a>
	<a href="/"><button>Resync</button></a>


	<br>
	<br>
	<br>
	<br>

	<center>
		<h2>Registrar nuevos usuarios</h2>
		<form action="/submit_new_user" id="textform" method="post">
			<br>
			<br>
			<input type="text" name="user" placeholder="Usuario nuevo">
			<br>
			<input type="text" name="password" placeholder="Contraseña">
			<br>
			<input type="text" name="first_name" placeholder="Nombre">
			<br>
			<input type="text" name="last_name" placeholder="Apellidos">
			<br>
			<input type="text" name="curp" placeholder="Curp">
			<input type="text" name="node_address" placeholder="node_address">
			<br>
			<input type="submit" value="Registrar">
		</form>
		</center>




	<div style="margin: 20px;">

    {% for post in posts %}
    <div class="post_box">
	   <div class="post_box-header">
	      <div class="post_box-options"><button class="option-btn">Reply</button></div>
	      <div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.user[0]}}</div>
	      <div class="name-header">{{post.person}}: {{post.average_grade}}</div>
	      <div class="post_box-subtitle">
			  Última Calificación<i>{{post.last_grade}}</i>
				<br>
			Último comentario: {{post.last_comment}}
			
			</div>
	   </div>
	   <div>
	      <div class="post_box-body">
	         <p>{{post.content}}</p>
	      </div>
	   </div>
	</div>
	{% endfor %}

	<style>
		.post_box {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
		    border-top: 1px solid #f0f0f0;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 16px;
		    margin-bottom: 8px;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
	</style>
    </div>
{% endblock %}
